@import 'mixins';

.widget__left-side {
    background-color: $white;
    padding-top: 38px;
    padding-bottom: 14px;
    &__header {
        text-align: center;
        h3 {
            font-size: 24px;
            @extend %line-height;
            color: #9E9E9E;
            padding-top: 12px;
            padding-bottom: 40px;
        }
    }
    &__period {
        border-bottom: 1px solid #D6E6F1;
        padding-bottom: 12px;
        padding-left: 18px;
        a {
            font-size: 12px;
            @extend %line-height;
            color: #9C9C9C;
            text-decoration: none;
            padding: 0 10px 10px;
        }
        a:nth-child(2) {
            margin-left: 10px;
        }
        a.active {
            border-bottom: 3px solid #B5DDFA;
            color: #5C5C5C;
        }
    }
    &__forecast {
        padding: 8px 22px 0 28px;
        overflow: auto;
        height: 260px;
        &>li {
            @include flex (space-between, center);
            padding: 14px 6px 8px 4px;
            font-size: 12px;
            @extend %line-height;
            color: #4F4F4F;
            .weather-date {
                width: 70px;
            }
            .weather-temp {
                @include flex (start, center);
            }
        }
        &>li:not(:last-child) {
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 4px;
        }
    }
}